.recommended-friends {
  margin: 25px 0 15px 0;
  padding: 15px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  color: var(--gray);
}
.recommended-friends__title {
  font-size: 14px;
}
.recommended-friends span {
  display: block;
  margin: 80px 0;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 5px;
}
.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: var(--main-border);
}
.open-post__title {
  font-weight: 600;
}
.open-post__hashtags {
  margin: 5px 0 7px 0;
  text-transform: uppercase;
  opacity: 0.5;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 40%;
}
.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}
.open-post__members .divider {
  width: 1px;
  height: 14px;
  margin: 0 5px;
  background-color: var(--gray);
}
.open-post__member-status {
  color: #ff65c3;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.open-post__heart-count {
  position: absolute;
  top: 65px;
  right: 5px;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: var(--gray);
  color: white;
  font-size: 12px;
}
.open-post__heart-count i {
  margin-right: 3px;
}
