.screen-header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  background-color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}
.screen-header__dot {
  position: absolute;
  left: 25px;
  bottom: 20px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

/* status-bar + screen-header : height */
.position-fixed-blank {
  margin-top: 123px;
}
