.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  background-color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}

/* status-bar + screen-header : height */
.position-fixed-blank {
  margin-top: 123px;
}
